#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}

#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100}

body
{
    background-color: rgb(23, 119, 179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 5%;
}

@keyframes example {
  from {background-color: white;}
  to {background-color: black;}
}

.main{
  position:relative;
  margin: 100px;
}

img
{
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}
.contenedor {
  transition-property: background-color;
  transition-duration: 10s;
  width: 80%;
  height: 50%;
  background: #444;
  margin: 0 auto;
}

.contenedor img
{
    width: 100%;
}
.contenedor2
{
  width: 80%;
  height: 100%;
  background-color: rgb(155, 10, 34);
  margin: 0 auto;
  margin-bottom: 20px;
}

#form-popup{
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: aquamarine;
  color:  rgb(155, 10, 34);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed; */
  bottom: 23px;
  right: 28px;
  width: 100px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  color: white;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black; 
  animation-name: example;
  animation-duration: 4s;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  box-sizing : border-box;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: lightyellow;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.tabla {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 0px auto;
}

.tabla td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabla tr{background-color: lightgoldenrodyellow;}

.tabla tr:hover {background-color: #ddd;}

.tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(211, 78, 171);
  color: white;
}

.btn
{
  padding: 10px;
  width: 20px;
  height: 10px;
}